EXPO_PUBLIC_SUPABASE_URL=https://amwuretboybrbxxmston.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_fLAPdacoB0Q4Ap7FC-srug_hl8Pyvpz
# EXPO_PUBLIC_AI=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyCEa7LmI_kVr3d0RwSZHSRo3TPY8ve3xbo
# EXPO_PUBLIC_AI_PROXY_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyCEa7LmI_kVr3d0RwSZHSRo3TPY8ve3xbo
# GOOGLE_API_KEY=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyCEa7LmI_kVr3d0RwSZHSRo3TPY8ve3xbo
